- set active_nav = active_nav|default("home")

%header
  .row
    .medium-4.columns
      .menu-button
        %a.js-site-menu-button
          %i.fa.fa-bars
      %a.logo(href="#{path('homepage')}") Minitheory
    .medium-8.columns
      %ul.site-navigation.js-site-menu.align-right
        %li
          %a(href="#{path('work')}" class=(active_nav == "work" ? "active" : "")) Work
        %li
          %a(href="#{path('services')}" class=(active_nav == "services" ? "active" : "")) Services
        %li
          %a(href="#{path('about_company')}" class=(active_nav == "about" ? "active" : "")) About
        %li
          %a(href="#{path('about_culture')}" class=(active_nav == "culture" ? "active" : "")) Culture
        %li
          %a(href="http://blog.minitheory.com") Blog
        %li
          %a.dark-border.button(href="#{path('contact')}") Get in touch
