- extends "layouts/layout.html.haml"

- set active_nav = "work"
- set page_title = "Our Work"
- set meta_description = "A selection of our work. View each project to see how we have helped our clients."

- block page_content
  .theme-blue-gradient
    .row
      .page-section.half-padding.align-center.medium-12.columns
        %h1 Our Work

  .row
    .medium-12.columns
      .work-panels.page-section
        .bellabox.work-panel.double-height.double-width
          %a(href="#{path('work_bellabox')}")
            %i.client-logos-large-sprite.client-logos-large-bellabox(title="Bellabox") Bellabox
        .ninja-accountant.work-panel
          %a(href="#{path('work_ninja_accountant')}")
            %i.client-logos-large-sprite.client-logos-large-ninjaaccountant(title="Ninja Accountant") Ninja Accountant
        .aiji.work-panel
          %a(href="#{path('work_aiji')}")
            %i.client-logos-large-sprite.client-logos-large-aiji(title="爱己") 爱己
        .indinero.work-panel.double-height.double-width
          %a(href="#{path('work_indinero')}")
            %i.client-logos-large-sprite.client-logos-large-indinero(title="inDinero") inDinero
        .skinnymint.work-panel
          %a(href="#{path('work_skinnymint')}")
            %i.client-logos-large-sprite.client-logos-large-skinnymint(title="SkinnyMint") SkinnyMint
        .shopabout.work-panel.double-height
          %a(href="#{path('work_shopabout')}")
            %i.client-logos-large-sprite.client-logos-large-shopabout(title="ShopAbout") ShopAbout
        .mesitis.work-panel
          %a(href="#{path('work_mesitis')}")
            %i.client-logos-large-sprite.client-logos-large-mesitis(title="Mesitis Capital") Mesitis Capital
        .travelmob.work-panel.double-height.double-width
          %a(href="#{path('work_travelmob')}")
            %i.client-logos-large-sprite.client-logos-large-travelmob(title="travelmob") travelmob
        .creative.work-panel.double-height.double-width
          %a(href="#{path('work_creative')}")
            %i.client-logos-large-sprite.client-logos-large-creative(title="Creative Technologies") Creative Technologies
        .packnada.work-panel
          %a(href="#")
            %i.client-logos-large-sprite.client-logos-large-packnada(title="Packnada") Packnada
